<!DOCTYPE HTML>
<html lang="en" style="background-color: 0B132B;">
    <head>
        <meta charset="utf-8">
        <title>
            RespiSense
        </title>
        <div style="margin: 40px; background-color:">
            <h1 style = "color: #68d89b">
                RespiSense
            </h1>
        </div>
    </head>
    <body style = "background-color: #0b132b;">
        <div style = "color: #f5cda7; font-size: 47px; padding: 120px 30px;">
            Your AI powered ally for respiratory health
        </div>
            <div style = "background-color: #4f9d69; 
            border: 2px dashed #68d89b; 
            padding: 100px 50px; 
            text-align: center; 
            cursor: pointer;
            font-size: 47px" class = "file-upload-box">
                <input type="file" name="file" id="audioFile" style = "display: none;"/>
                <p id="fileStatus">Drop your audio file</p>
            </div>
        <form id="uploadForm" enctype="multipart/form-data">

            <div style="text-align: right;">
                <button id="submit" type="submit">Submit</button>
            </div>
        </form>

    </body>

    <footer style = "color: #f5cda7">
        <p>&copy; 2024 RespiSense. All Rights Reserved.</p>
        <!-- <nav>
            <ul style = "display: inline-flex; list-style-type: none; margin-right: 20px; padding: auto; margin: auto;">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Privacy Policy</a></li>
            </ul>
        </nav> -->
    </footer>

    <script>
        const uploadForm = document.getElementById("uploadForm");
        const fileUploadBox = document.querySelector(".file-upload-box");
        const fileInput = document.getElementById("audioFile");

        const checkFile = (file) => {
            if (!file.type.startsWith("audio/")) {
                alert("Please Drop only audio files.");
                return false;
            }
            else {
                return true;
            }
        }

        fileInput.addEventListener("change", () => {
            const file = fileInput.files[0];
            if (!checkFile(file)) {return;}
            document.getElementById("fileStatus").textContent = file.name;

        })

        fileUploadBox.addEventListener("click", () => fileInput.click());

        fileUploadBox.addEventListener("dragover", (e) => {
            e.preventDefault();
            e.stopPropagation();
        });

        fileUploadBox.addEventListener("drop", (e) => {
            e.preventDefault();
            const file = e.dataTransfer.files[0];
            if (!checkFile(file)) {
                return;
            }
            document.getElementById('fileStatus').textContent = file.name;
        });

        submit.addEventListener("click", (e) => {
            e.preventDefault();
            
            const file = fileInput.files[0];
            if (!checkFile) {return;}

            process(file);
        });

        async function process(file) {
            const formData = new FormData(uploadForm);
            formData.append("file", file)
            try {
            const response = await fetch('/assess', {
                method: 'POST',
                body: formData 
            });

            if (response.status === 200) {
                const result = await response.json(); 
                console.log("API Response:", result);

                displayResults(result); 
            } 
            else {
                const result = await response.json();
                console.error("API Error:", response.status);
                alert(result["error"]);
            }

        } 
            catch (error) {
                console.error("Error sending file:", error);
                aler("in catch")
            }
    }
        function displayResults (result) {
            alert(`You may have ${result["result"]}. Please consult a medical professional as soon as possible`)
        }

    </script>  

    <style>
        nav ul li a {
              padding: 0 15px;
        }
        a {
             color: #f5cda7
        }
    </style>
</html>

